<mat-toolbar>
  <img class="title_icon" src="../../../../assets/favicon.png" />
   <span>ListManager</span>
   <app-breadcrumb [categoryName]="selectedCategory" [listName]="selectedList" (categoryEvent)="selectCategory($event)" (homeEvent)="selectNone()"></app-breadcrumb>
   <span class="spacer"></span>
   <button mat-icon-button>
     <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
      <mat-icon>share</mat-icon>
    </a>
  </button>
</mat-toolbar>

<div class="container">
    <app-categories *ngIf="!selectedCategory" (selectedCategory)="selectCategory($event)"></app-categories>
    <app-lists *ngIf="selectedCategory && !selectedList" [categoryName]="selectedCategory" (selectedList)="selectList($event)"></app-lists>
    <app-elements *ngIf="selectedList" [category]="selectedCategory" [list]="selectedList"></app-elements>
</div>


