.container {
    top: 64px !important;
    display: flex;
}

.container > * {
    width: 100%;
    height: 100%;
}

.title_icon {
    width: 32px;
    margin-right: 10px;
}

@media(max-width: 599px) {
    .container {
        top: 56px !important;
    }
}